.cmp-expandable-content {
  &__button {
    position: relative;

    z-index: z-index(1);
  }

  &__content {
    animation: show-hidden-content 1000ms $ease-out-expo;

    &[aria-hidden="true"] {
      display: none;
    }
  }
}
