---
title: Components
---

{{#extend "drizzle"}}
  {{#content "main"}}
    <h1 class="drizzle-u-capitalize">{{name}}</h1>

    {{#each patterns}}
      {{> drizzle.item}}
    {{/each}}
  {{/content}}
{{/extend}}
