<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <link id="baseCss" href="/css/base.css" rel="stylesheet">
</head>
<body>

  {{#block "body"}}
    {{#block "main"}}

    {{/block}}
  {{/block}}

</body>
</html>
