//
// FONTS
//
$font-stack-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;

//
// LENGTHS
//
$page-margin: 1.75rem;

$max-page-width: 53rem;


//
// LINE HEIGHTS
//
$line-height-normal: 1.7;
$line-height-tight: 1.15;

//
// TRANSITIONS
//
$ease-out-expo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
