---
name: Button
order: 1

variantGroups:
  - name: Color
    set:
      - cmp-button--primary
      - cmp-button--secondary
      - cmp-button--tertiary
  - name: Size
    set:
      - ""
      - cmp-button--lg
      - cmp-button--sm
  - name: Other
    set:
      - ""
      - cmp-button--full-width
---
<a href="#" class="cmp-button">Click Me</a>
