---
name: Headings
notes: |
  Use these heading classes on any element to add heading styles. This lets you apply heading styles for alternate heading levels as well. For example, `.c-heading-1` can go on an `<h1>`, but it can also go on an `<h2>`, or any other element that should look like the styles defined in the `.c-heading-1` class.
---

<div class="c-heading-1">Heading 1</div>
<div class="c-heading-2">Heading 2</div>
<div class="c-heading-3">Heading 3</div>
<div class="c-heading-4">Heading 4</div>
<div class="c-heading-5">Heading 5</div>
<div class="c-heading-6">Heading 6</div>
