---
name: List (ordered)
notes: |
  Use this to create default-looking ordered lists.
---
<ol class="c-list c-list--ordered">
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipiscing elit</li>
  <li>Quisque viverra a ex at semper</li>
  <li>Cras sagittis elit vel porta vehicula</li>
</ol>