---
notes: |
  Use this to create default-looking paragraphs.
---
<p class="c-paragraph">Sed velit dignissim sodales ut eu sem integer vitae justo eget magna fermentum iaculis eu non diam phasellus vestibulum lorem sed risus. Venenatis urna cursus eget nunc scelerisque viverra mauris?</p>