---
title: Colors
layout: drizzle
---

<h1 class="heading_1">{{title}}</h1>

<ul class="drizzle-u-listInline">
  {{#each (data "docs-colors")}}
    <li class="drizzle-u-marginBottom">
      <figure class="drizzle-u-noMarginLeft">
        <svg width="160" height="90" viewBox="0 0 160 90">
          <rect x="0" y="0" width="160" height="90" fill="{{color}}" />
        </svg>
        <figcaption class="drizzle-u-textSmaller">
          <ul class="drizzle-u-listUnstyled">
            <li><code>{{color}}</code></li>
            {{#if property}}<li><code>{{property}}</code></li>{{/if}}
          </ul>
        </figcaption>
      </figure>
    </li>
  {{/each}}
</ul>
