---
title: Grid
layout: drizzle
---

<h1 class="heading-1">{{title}}</h1>

<p>The grid system we are using for page layouts is based on a 12 column grid with 20px gutters between each column.</p>

<div class="obj-grid">
  <div class="obj-grid__full"><div style="height: 100px; background: #999;"></div></div>

  <div class="obj-grid__half"><div style="height: 100px; background: #999;"></div></div>
  <div class="obj-grid__half"><div style="height: 100px; background: #999;"></div></div>

  <div class="obj-grid__third"><div style="height: 100px; background: #999;"></div></div>
  <div class="obj-grid__third"><div style="height: 100px; background: #999;"></div></div>
  <div class="obj-grid__third"><div style="height: 100px; background: #999;"></div></div>

  <div class="obj-grid__quarter"><div style="height: 100px; background: #999;"></div></div>
  <div class="obj-grid__quarter"><div style="height: 100px; background: #999;"></div></div>
  <div class="obj-grid__quarter"><div style="height: 100px; background: #999;"></div></div>
  <div class="obj-grid__quarter"><div style="height: 100px; background: #999;"></div></div>
</div>

<pre class="drizzle-u-borderTop drizzle-u-pad">
  <code class="language-markup">
    &lt;div class="obj-grid"&gt;
      &lt;div class="obj-grid__full"&gt;&lt;/div&gt;

      &lt;div class="obj-grid__half"&gt;&lt;/div&gt;
      &lt;div class="obj-grid__half"&gt;&lt;/div&gt;

      &lt;div class="obj-grid__third"&gt;&lt;/div&gt;
      &lt;div class="obj-grid__third"&gt;&lt;/div&gt;
      &lt;div class="obj-grid__third"&gt;&lt;/div&gt;

      &lt;div class="obj-grid__quarter"&gt;&lt;/div&gt;
      &lt;div class="obj-grid__quarter"&gt;&lt;/div&gt;
      &lt;div class="obj-grid__quarter"&gt;&lt;/div&gt;
      &lt;div class="obj-grid__quarter"&gt;&lt;/div&gt;
    &lt;/div&gt;
  </code>
</pre>
