---
title: Utilities
layout: drizzle
---

<h1 class="heading_1">{{title}}</h1>

{{#each (data "docs-utilities")}}
  <h2 class="heading_4 drizzle-u-capitalize">{{@key}}</h2>

  <table width="100%">
    <thead>
      <tr>
        <th class="drizzle-u-textLeft">Class</th>
        <th class="drizzle-u-textLeft">Description</th>
      </tr>
    </thead>
    <tbody>
      {{#each this}}
        <tr>
          <td><code class="language-html">{{class}}</code></td>
          <td>{{description}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/each}}
