---
title: Utilities
layout: drizzle
---

<h1 class="heading-1">{{title}}</h1>

<table>
  <thead>
    <tr>
      <th>Class</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>.util-none</code></td>
      <td>Sets an element to display none.</td>
    </tr>
    <tr>
      <td><code>.util-block</code></td>
      <td>Displays as a block element.</td>
    </tr>
    <tr>
      <td><code>.util-inline</code></td>
      <td>Displays as a inline element.</td>
    </tr>
    <tr>
      <td><code>.util-inline-block</code></td>
      <td>Displays as a inline-block element.</td>
    </tr>
  </tbody>
</table>
