{{#*inline "nav-item"}}
  <a class="drizzle-Nav-item" href="{{@root.baseurl}}/{{url}}">{{label}}</a>
{{/inline}}

<div class="drizzle-Layout-nav drizzle-Nav" id="nav">
  <div class="drizzle-Nav-header">
    <a href="/" class="drizzle-Nav-title">{{data "global.companyName"}} Design System</a>

    <a class="drizzle-Nav-header-toggle" href="#nav">
      <svg viewBox="-1 -1 12 7" width="16" height="16">
        <title>Menu</title>
        <polyline fill="none" stroke="currentColor" stroke-width="2" points="0 0 5 5 10 0"/>
      </svg>
    </a>
  </div>

  <div class="drizzle-Nav-main" id="nav-menu">
    <ul class="drizzle-Nav-menu">
      <li><a href="/" class="drizzle-Nav-item">Overview</a></li>
    </ul>

    <h5 class="drizzle-Nav-item drizzle-u-marginTop">Components</h5>
    <ul class="drizzle-Nav-menu">
      {{#each (collections "components" sortby="order")}}
        <li>
          {{> nav-item label=name}}
        </li>
      {{/each}}
    </ul>

    <h5 class="drizzle-Nav-item drizzle-u-marginTop">Documentation</h5>
    <ul class="drizzle-Nav-menu">
      {{#each (pages "documentation" sortby="order")}}
        <li>
          {{> nav-item label=data.title}}
        </li>
      {{/each}}
      <li>
        {{> nav-item label="SVG Sprite" url="/svg/symbol/sprite.symbol.html"}}
      </li>
    </ul>
  </div>
</div>
