{{#extend "drizzle"}}
  {{#content "main"}}
    <h1 class="drizzle-collection-heading drizzle-u-capitalize">
      <span class="drizzle-collection-heading__sub">Components/</span>
      <span class="drizzle-collection-heading__text">{{name}}</span>
    </h1>

    {{#if notes}}
      <div class="drizzle-p">
        {{{markdown notes}}}
      </div>
    {{/if}}
    

    {{#each patterns}}
      {{> patterns.drizzle.partials.item}}
    {{/each}}
  {{/content}}
{{/extend}}
