<!doctype html>
<!-- this is the default layout for pages in the design system -->
<html class="no-js safe-focus" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title>{{ title }}</title>

  {{> patterns.drizzle.partials.stylesheet-link-tags}}
</head>
<body class="{{body-class}}">
  <a class="c-btn c-btn--primary c-skip-to-content" href="#main-content">Skip to main content</a>

  <main id="main-content">
    {{#block "body"}}
      {{#block "main"}}

      {{/block}}
    {{/block}}
  </main>

  <script src="/js/scripts.js"></script>
</body>
</html>
