---
title: Design System Starter
layout: drizzle
---

<h1>{{title}}</h1>
<p>This UI toolkit is a highly-modular design system for rapid web page development. It contains different materials that can be assembled into more complex page layouts. It includes working examples, code snippets and documentation.</p>

<h2>Demo Pages</h2>
<ul>
{{#each (pages "demos" sortby="order")}}
  <li>
    <a href="{{url}}">{{{data.title}}}</a>
  </li>
{{/each}}
</ul>
