---
title: Common Elements
order: 20
layout: page
---

<div class="o-width-limiter o-width-limiter--sm u-margin-top-xl u-padding-bottom-xl">

  <h1>{{ title }}</h1>

  <p>
    This paragraph shows a few inline styles.
    <strong>Here's some important text.</strong>
    <em>Here's some emphasized text.</em>
    <a href="#">This is what a link looks like.</a>
  </p>

  <h2>Heading Level Two</h2>

  <p>This paragraph is used to show space between the previous and following elements. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a ex nisl. Nullam sit amet sodales ante. Duis aliquet lorem sit amet erat commodo rhoncus.</p>

  <h3>Heading Level Three</h3>

  <p>This paragraph is used to show space between the previous and following elements. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a ex nisl. Nullam sit amet sodales ante. Duis aliquet lorem sit amet erat commodo rhoncus.</p>

  <h4>Heading Level Four</h4>

  <p>This paragraph is used to show space between the previous and following elements. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a ex nisl. Nullam sit amet sodales ante. Duis aliquet lorem sit amet erat commodo rhoncus.</p>

  <h5>Heading Level Five</h5>

  <p>This paragraph is used to show space between the previous and following elements. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a ex nisl. Nullam sit amet sodales ante. Duis aliquet lorem sit amet erat commodo rhoncus.</p>

  <h6>Heading Level Six</h6>

  <p>This paragraph is used to show space between the previous and following elements. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a ex nisl. Nullam sit amet sodales ante. Duis aliquet lorem sit amet erat commodo rhoncus.</p>

  <div class="u-margin-top-lg u-margin-bottom-lg">
    <ol>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Consectetur adipiscing elit</li>
      <li>Quisque viverra a ex at semper</li>
      <li>Cras sagittis elit vel porta vehicula</li>
    </ol>
  </div>

  <p>This paragraph is used to show space between the previous and following elements. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a ex nisl. Nullam sit amet sodales ante. Duis aliquet lorem sit amet erat commodo rhoncus.</p>

  <div class="u-margin-top-lg u-margin-bottom-lg">
    <ul>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Consectetur adipiscing elit</li>
      <li>Quisque viverra a ex at semper</li>
      <li>Cras sagittis elit vel porta vehicula</li>
    </ul>
  </div>

  <p>This paragraph is used to show space between the previous and following elements. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a ex nisl. Nullam sit amet sodales ante. Duis aliquet lorem sit amet erat commodo rhoncus.</p>

</div>
