.util-margin {
  &-all {
    margin: 1rem;
  }

  &-top {
    margin-top: 1rem;
  }

  &-bottom {
    margin-bottom: 1rem;
  }

  &-left {
    margin-left: 1rem;
  }

  &-right {
    margin-right: 1rem;
  }

  &-vertical {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &-horizontal {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.util-padding {
  &-all {
    padding: 1rem;
  }

  &-top {
    padding-top: 1rem;
  }

  &-bottom {
    padding-bottom: 1rem;
  }

  &-left {
    padding-left: 1rem;
  }

  &-right {
    padding-right: 1rem;
  }

  &-vertical {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &-horizontal {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
